THỰC HÀNH LAMBDA - APPLY

1. Sử dụng bộ dữ liệu baseball.csv

In [70]:
import pandas as pd
import csv
import numpy as np

df = pd.read_csv("C:\\Users\DELL\\Downloads\\baseball.csv - baseball.csv.csv")
print(baseball)

       id     player  year  stint team  lg    g   ab   r    h  ...   rbi   sb  \
0   88641  womacto01  2006      2  CHN  NL   19   50   6   14  ...   2.0  1.0
1   88643  schilcu01  2006      1  BOS  AL   31    2   0    1  ...   0.0  0.0
2   88645  myersmi01  2006      1  NYA  AL   62    0   0    0  ...   0.0  0.0
3   88649  helliri01  2006      1  MIL  NL   20    3   0    0  ...   0.0  0.0
4   88650  johnsra05  2006      1  NYA  AL   33    6   0    1  ...   0.0  0.0
..    ...        ...   ...    ...  ...  ..  ...  ...  ..  ...  ...   ...  ...
95  89525  benitar01  2007      2  FLO  NL   34    0   0    0  ...   0.0  0.0
96  89526  benitar01  2007      1  SFN  NL   19    0   0    0  ...   0.0  0.0
97  89530  ausmubr01  2007      1  HOU  NL  117  349  38   82  ...  25.0  6.0
98  89533   aloumo01  2007      1  NYN  NL   87  328  51  112  ...  49.0  3.0
99  89534  alomasa02  2007      1  NYN  NL    8   22   1    3  ...   0.0  0.0

     cs  bb    so  ibb  hbp   sh   sf  gidp
0   1.0   4   4.0  0.0  0.0  3.0  0.0   0.0
1   0.0   0   1.0  0.0  0.0  0.0  0.0   0.0
2   0.0   0   0.0  0.0  0.0  0.0  0.0   0.0
3   0.0   0   2.0  0.0  0.0  0.0  0.0   0.0
4   0.0   0   4.0  0.0  0.0  0.0  0.0   0.0
..  ...  ..   ...  ...  ...  ...  ...   ...
95  0.0   0   0.0  0.0  0.0  0.0  0.0   0.0
96  0.0   0   0.0  0.0  0.0  0.0  0.0   0.0
97  1.0  37  74.0  3.0  6.0  4.0  1.0  11.0
98  0.0  27  30.0  5.0  2.0  0.0  3.0  13.0
99  0.0   0   3.0  0.0  0.0  0.0  0.0   0.0

[100 rows x 23 columns]

2. Hãy xây dựng hàm lambda theo công thức sau: $\frac{x + log(x)}{\sqrt(x)}$

In [87]:
n_df = df[["g"]]
n_df.apply(lambda x: (x + np.log10(x))/np.sqrt(x), axis = 0)

            g
0    5.656725
1    6.654999
2    8.704170
3    5.746910
4    6.806540
..        ...
95   6.881009
96   5.656725
97  11.456110
98  10.050584
99   4.538511

[100 rows x 1 columns]

3. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc đối với 1 Series do bạn chọn từ data frame ở bước 1

In [124]:
df2 = df[["g"]]
df2.apply(lambda x: x["g"], axis = 1)

0      39
1      51
2      82
3      40
4      53
     ...
95     54
96     39
97    137
98    107
99     28
Length: 100, dtype: int64

4. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc với 1 nhóm cột (hoặc có thể là toàn bộ) của data frame ở bước 1

In [89]:
df_n = df[["g"]]
df_n.apply(lambda x: x +10, axis = 0)

      g
0    49
1    61
2    92
3    50
4    63
..  ...
95   64
96   49
97  147
98  117
99   38

[100 rows x 1 columns]

THỰC HÀNH APPLY VÀ HÀM TỰ XÂY DỰNG

Trong thực tế không phải lúc nào cũng sử dụng lambda với apply, mà có thể sử dụng apply với các hàm có sẵn khác hoặc do lập trình viên tự xây dựng.

1. Hãy áp dụng nhóm hàm sum, mean, sqrt, log của thư viện numpy cho data frame ở trên theo chiều ngang và chiều dọc

In [153]:
ham = df[["g"]]
su = ham.apply(lambda x: np.sum(x), axis = 0)
me = ham.apply(lambda x: np.mean(x), axis = 0)
sq = ham.apply(lambda x: np.sqrt(x), axis = 0)
lo = ham.apply(lambda x: np.log(x), axis = 0)
print("sum ", su)
print("mean ", me)
print("sqrt ", sq)
print("log ", lo)

sum  g    7238
dtype: int64
mean  g    72.38
dtype: float64
sqrt              g
0    6.244998
1    7.141428
2    9.055385
3    6.324555
4    7.280110
..        ...
95   7.348469
96   6.244998
97  11.704700
98  10.344080
99   5.291503

[100 rows x 1 columns]
log             g
0   3.663562
1   3.931826
2   4.406719
3   3.688879
4   3.970292
..       ...
95  3.988984
96  3.663562
97  4.919981
98  4.672829
99  3.332205

[100 rows x 1 columns]

2. Hãy xây dựng một hàm có tên là my_function có tham số đầu vào là x. Phương pháp tính toán của hàm như sau:
 (i) Nếu x >0  thì trả về log10(x); (ii) Nếu x <= 0  thì trả về $e^{x}$

In [151]:
def my_function(x):
    if x > 0:
        kq = np.log10(x)
    else:
        kq = np.exp**x
    return kq
n = int(input('nhap n: '))
a = my_function(n)
print(a)

nhap n: 3
0.47712125471966244

3. Hãy sử dụng hàm apply để gọi my_function áp dụng cho data frame ở bước 1 ở trên

In [152]:
df3 = df[["g"]]
df3.apply(lambda x: my_function(x['g']), axis = 1)

0     1.591065
1     1.707570
2     1.913814
3     1.602060
4     1.724276
        ...
95    1.732394
96    1.591065
97    2.136721
98    2.029384
99    1.447158
Length: 100, dtype: float64